.App {
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}
